.search-modal-content {
    height: 400px;
}

.search-modal-content .search-modal-input {
    width: 80%;
}

.search-modal-content .search-modal-search-icon {
    float: left;
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    font-size: 20px;
    color: #3F51B5;
    font-weight: bold;
}

.search-modal-content .search-modal-results {
    margin-top: 8px;
    height: 372px;
    overflow-y: scroll;
}
