.card {
    margin: 5px 0;
}

.card .form {
    position: relative;
}

.card .form .actions {
    position: absolute;
    top: 0;
    right: 50px;
}

.card .img-upload-container {
    text-align: center;
}
