.form-filter .ant-form-item .ant-form-item-label {
    text-align: right;
    width: 70px;
}
.info_field_x {
    width: 270px;
}

@media screen and (min-width: 960px) and (max-width: 1500px) {
    .info_field_x {
        width: 200px !important;
    }
    .info_field_x_num {
        width: 80px;
    }
}
@media screen and (min-width: 1500px) {
    .info_field_x {
        width: 270px !important;
    }
    .info_field_x_num {
        width: 115px;
    }
}